{% extends "index.html" %}

{% block title %}YATRAX - {{ title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<style>
    .control {
        cursor: grab;
    }

    .control:active {
        cursor: grabbing;
    }

    button[data-tipo] i {
        pointer-events: none;
    }
</style>

<div class="container-fluid p-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs flex-wrap text-center" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab01-tab" data-toggle="pill" href="#tab-01" role="tab"
                                aria-controls="tab-01" aria-selected="true">Datos de nivel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab02-tab" data-toggle="pill" href="#tab-02" role="tab"
                                aria-controls="tab-02" aria-selected="false">Diseño del nivel</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">

                        <!-- Tab 1: Datos de nivel -->
                        <div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab01-tab">
                            <form action="" method="POST" id="formNivel">
                                <div class="mb-3">
                                    <label for="txt_nroPiso" class="form-label">Número de piso</label>
                                    <input type="number" name="txt_nroPiso" id="txt_nroPiso" class="form-control"
                                        placeholder="Número de piso" value="{{ nivel.nroPiso }}">
                                </div>
                                <div class="mb-3">
                                    <label for="txt_vehiculo" class="form-label">Tipo vehículo</label>
                                    <select id="cbx_TipoVehiculo" name="txt_vehiculo" class="form-control" {% if
                                        btnId=='btn_Regresar' %}disabled{% endif %}></select>
                                </div>
                                <div class="mb-3">
                                    <label for="txt_estado" class="form-label">Estado</label>
                                    <select id="txt_estado" name="txt_estado" class="form-control" {% if
                                        btnId=="btn_Regresar" %} disabled {% endif %}>
                                        <option value="1" {% if nivel.estado==1 or nivel.estado=="activo" %}selected{%
                                            endif %}>Activo</option>
                                        <option value="0" {% if nivel.estado==0 or nivel.estado=="inactivo" %}selected{%
                                            endif %}>Inactivo</option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button id="btn_Listado" type="button" class="btn btn-danger mb-2">Volver al
                                        listado</button>
                                    <button id="btn_Siguiente" type="button"
                                        class="btn btn-primary mb-2">Siguiente</button>

                                </div>
                            </form>
                        </div>

                        <!-- Tab 2: Diseño del nivel -->
                        <div class="tab-pane fade" id="tab-02" role="tabpanel" aria-labelledby="tab02-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Controles</h3>
                                        </div>
                                        <div class="card-body">
                                            <div id="accordion">
                                                {% for tipo_herramienta in tipo_herramientas %}
                                                <div class="card card-{{ loop.cycle('info','primary') }}">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100">
                                                            <a class="d-block w-100 collapsed" data-toggle="collapse"
                                                                href="#collapse{{ loop.index }}"
                                                                aria-expanded="false">{{ tipo_herramienta.nombre }}</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse{{ loop.index }}" class="collapse"
                                                        data-parent="#accordion">
                                                        <div class="card-body d-flex flex-wrap bg-white">
                                                            {% for herramienta in herramientas %}
                                                            {% if herramienta.id_tipo==tipo_herramienta.id %}
                                                            <i class="{{ herramienta.icono }} fa-lg m-2 control"
                                                                draggable="true" data-tipo="{{ herramienta.id }}"
                                                                title="{{ herramienta.nombre }}"></i>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Diseño</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row justify-content-center" id="matrizContainer"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button id="btn_Listado" type="button" class="btn btn-danger mb-2">Volver al
                                    listado</button>
                                {% if btnId != "btn_Regresar" %}
                                <button id="{{ btnId }}" class="btn btn-primary mb-2">Aceptar</button>
                                {% endif %}
                            </div>
                        </div>

                    </div> <!-- /.tab-content -->
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div>
    </div>
</div>

<style>
    .btn-seat {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: #000 1px solid;
        border-radius: 6px;
    }

    .btn-seat:hover {
        border: #000 1px solid;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    // Botón "Siguiente" del primer tab


    let herramientaSeleccionada = null;
    const list_herramientas = JSON.parse('{{ herramientas | tojson }}');
    $(document).ready(() => {
        
        fct_Vehiculos()

        // Volver al listado
        $("#btn_Listado, #btn_Regresar").click(function () {
            window.location.href = "/trabajadores/viajes/GestionarNivel";
        });
        generarMatriz();

        // Eventos de herramientas (drag)
        document.querySelectorAll('.control').forEach(icono => {
            icono.addEventListener('dragstart', function (e) {
                herramientaSeleccionada = this.getAttribute('data-tipo');
            });
        });

        $('#btn_Siguiente').click(function () {
            const piso = $('#txt_nroPiso').val();
            const tipo = $('#cbx_TipoVehiculo').val();

            if (!piso || !tipo) {
                toastr.error("Complete todos los campos antes de continuar", "Error");
                return;
            }

            $('#tab02-tab').tab('show');
        });
        $('#btn_Registrar').click(function (e) {
            e.preventDefault();
            try {
                const herramientas = dict_botones();
                if (herramientas.length == 0) {
                    toastr.error("Debe diseñar el nivel para continuar", 'Error');
                    return;
                }

                let maxX = 0;
                let maxY = 0;
                herramientas.forEach(h => {
                    if (h.x > maxX) maxX = h.x;
                    if (h.y > maxY) maxY = h.y;
                });

                const datos = {
                    nroPiso: $('#txt_nroPiso').val(),
                    id_tipo_vehiculo: $('#cbx_TipoVehiculo').val(),
                    x_dimension: maxX,
                    y_dimension: maxY,
                    estado: $('#txt_estado').val(),
                    herramientas: herramientas
                };

                $.ajax({
                    url: "/trabajadores/viajes/registrarNivel",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(datos),
                    success: function (response) {
                        if (response.Status === "success") {
                            toastr.success("Se ha registrado el nivel correctamente", "Éxito");
                            window.location.href = "/trabajadores/viajes/GestionarNivel";
                        } else {
                            toastr.error("Ocurrió un error al registrar el nivel: " + response.Msj, "Error")
                        }
                    },
                    error: function () {
                        toastr.error("Error en el servidor", "Error")
                    }
                });
            } catch (error) {
                console.error("Error capturado en try-catch:", error);
                toastr.error("Se produjo un error inesperado: " + error.message, "Error");
            }
        });


    });

    function generarMatriz() {

        // Filas x Columnas reales
        const filas = 15;
        const columnas = 6;

        // Filas x Columnas con las opciones
        // filas += 2
        // columnas

        // const cantidad = parseInt("{{ nivel.cantidad }}");
        const contenedor = document.getElementById('matrizContainer');
        contenedor.innerHTML = '';

        contenedor.style.display = 'grid';
        contenedor.style.gridTemplateColumns = `repeat(${columnas}, auto)`;
        contenedor.style.gap = '8px';

        for (let i = 1; i <= filas; i++) {
            for (let j = 1; j <= columnas; j++) {

                const btn = document.createElement('button');
                btn.className = 'btn btn-light border-dark';
                btn.style.width = '40px';
                btn.style.height = '40px';
                btn.setAttribute('data-x', j);
                btn.setAttribute('data-y', i);
                btn.setAttribute('data-tipo', '');

                // Drag-over y drop
                btn.addEventListener('dragover', e => e.preventDefault());
                btn.addEventListener('drop', function (e) {
                    e.preventDefault();
                    if (herramientaSeleccionada) {
                        this.setAttribute('data-tipo', herramientaSeleccionada);
                        this.innerHTML = obtenerIcono(herramientaSeleccionada);
                    }
                });

                // Click: alterna entre asiento y vacío
                btn.addEventListener('click', function () {
                    let idAsiento = 1;
                    let herramienta_dict = list_herramientas.find(h => h.id === parseInt(idAsiento));
                    const tipoActual = this.getAttribute('data-tipo');
                    if (tipoActual === '') {
                        this.setAttribute('data-tipo', `${idAsiento}`);
                        this.innerHTML = `<i class="${herramienta_dict.icono}"></i>`;
                    } else {
                        this.setAttribute('data-tipo', '');
                        this.innerHTML = '';
                    }
                });

                contenedor.appendChild(btn);
            }
        }
    }

    function obtenerIcono(idHerramienta) {
        const herramienta_dict = list_herramientas.find(h => h.id === parseInt(idHerramienta));
        if (herramienta_dict) {
            return `<i class="${herramienta_dict.icono}"></i>`
        }
        return '';
    }
    function dict_botones() {
        const botones = document.querySelectorAll("#matrizContainer button");
        const lista_botones = Array.from(botones)
            .filter(boton => boton.dataset.tipo != "")
            .map(boton => ({
                x: boton.dataset.x,
                y: boton.dataset.y,
                tipo: boton.dataset.tipo
            }));
        return lista_botones
    }
    function fct_Vehiculos() {
        $.getJSON('/trabajadores/viajes/GetData_TipoVehiculo', function (response) {
            if (response.Status === 'success') {
                let items = '<option disabled>--SELECCIONAR--</option>';

                $.each(response.data, function (index, item) {
                    if (item.id === Number("{{ nivel.id_tipo_vehiculo }}")) {
                        items += `<option selected value="${item.id}">${item.nombre}</option>`;
                    } else {
                        items += `<option value="${item.id}">${item.nombre}</option>`;
                    }
                });

                $('#cbx_TipoVehiculo').html(items);
            } else {
                console.error('Error al obtener los tipos de usuario:', response.Msj);
            }
        });
    }

</script>

{% endblock %}