{% extends "index.html" %}

{% block title %}YATRAX - {{ tittle }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100 w-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">Programar un nuevo viaje</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-outline card-primary h-100">
                                <div class="card-header">
                                    <h3 class="card-title">Datos Generales</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="txt_hora_salida">Fecha y hora de salida:</label>
                                            <div class="input-group">
                                                <input class="form-control" type="datetime-local" id="fechaHora"
                                                    name="fechaHora">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="cbx_Ruta">Ruta</label>
                                            <div class="input-group">
                                                <select id="cbx_Ruta" class="form-control">
                                                    <option disabled>--SELECCIONAR--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <table id="tbl_Escalas" class="table table-short-rows">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center d-none">Id Sucursal</th>
                                                        <th class="text-center" style="width: 100px;">N° Orden</th>
                                                        <th class="text-center">Sucursal</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-short-rows">
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="col-md-12 mb-3">
                                            <label for="txt_Origen">Origen</label>
                                            <div class="input-group">
                                                <input type="text" id="txt_Origen" class="form-control"
                                                    placeholder="Origen"
                                                    oninput="this.value = this.value.toUpperCase();" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="txt_Origen">Destino</label>
                                            <div class="input-group">
                                                <input type="text" id="txt_Destino" class="form-control"
                                                    placeholder="Destino"
                                                    oninput="this.value = this.value.toUpperCase();" disabled>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-outline card-primary h-100">
                                <div class="card-header">
                                    <h3 class="card-title">Asignar vehículo</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="cbx_Servicio">Servicio</label>
                                            <div class="input-group">
                                                <select id="cbx_Servicio" class="form-control">
                                                    <option disabled selected>--SELECCIONAR--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="cbx_TipoVehiculo">Tipo vehículo</label>
                                            <div class="input-group">
                                                <select id="cbx_TipoVehiculo" class="form-control">
                                                    <option disabled selected>--SELECCIONAR--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="cbx_Vehiculo">Vehículo</label>
                                            <div class="input-group">
                                                <select id="cbx_Vehiculo" class="form-control">
                                                    <option disabled selected>--SELECCIONAR--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="txt_Niveles">Cantidad de niveles</label>
                                            <div class="input-group">
                                                <input type="text" id="txt_Niveles" class="form-control"
                                                    placeholder="Cantidad de niveles"
                                                    oninput="this.value = this.value.toUpperCase();" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="txt_Asientos">Cantidad total de
                                                asientos</label>
                                            <div class="input-group">
                                                <input type="text" id="txt_Asientos" class="form-control"
                                                    placeholder="Cantidad total de asientos"
                                                    oninput="this.value = this.value.toUpperCase();" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-outline card-primary h-100">
                                <div class="card-header">
                                    <h3 class="card-title">Asignar personal</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="cbx_Chofer">Chofer</label>
                                            <div class="input-group">
                                                <select id="cbx_Chofer" class="form-control" multiple="multiple">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="cbx_Tripulante">Tripulantes</label>
                                            <div class="input-group">
                                                <select id="cbx_Tripulante" class="form-control" multiple="multiple">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 text-center mt-3">
                        <button id="btn_Volver" type="button" class="btn btn-danger">Volver al listado de
                            viajes</button>
                        <button id="{{ btnId }}" type="button" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function fct_GetRutas() {
        $.getJSON('/trabajadores/viajes/GetData_RutasViajes', function (response) {
            if (response && response.Status === "success") {
                let items = '<option disabled selected>--SELECCIONAR--</option>';

                let rutas = response.data;

                $.each(response.data, function (index, item) {
                    if (false) {
                        items += `<option selected value="${item.id}">${item.nombre} - ${item.tipo}</option>`;
                    } else {
                        items += `<option value="${item.id}">${item.nombre} - ${item.tipo}</option>`;
                    }
                });

                $('#cbx_Ruta').html(items);

                $('#cbx_Ruta').change(function () {
                    let rutaSeleccionadaId = $(this).val();
                    let rutaSeleccionada = rutas.find(function (ruta) {
                        return ruta.id == rutaSeleccionadaId;
                    });

                    if (rutaSeleccionada) {
                        let trs = '';
                        $.each(rutaSeleccionada.escalas, function (index, item) {
                            trs += `
                                <tr>
                                    <td class="d-none">${item.id}</td>
                                    <td class="text-center style="width: 100px;"">${item.nro_orden}</td>
                                    <td class="text-left">${item.nombre}</td>
                                </tr>
                            `;
                        });
                        $('#tbl_Escalas tbody').html(trs);
                    } else {
                        console.log('No se encontró la ruta seleccionada');
                    }
                });
            } else {
                console.error('Error al obtener las rutas:', response.Msj);
            }
        });
    }

    function fct_GetPersonal() {

    }

    function fct_LlenarCombos() {
        let idVehiculo = 1;

        $.getJSON('/trabajadores/viajes/GetData_ServiciosViajes', function (resServicios) {
            if (resServicios.Status === "success") {
                const servicios = resServicios.data;
                $.getJSON('/trabajadores/viajes/GetData_TipoVehiculosViajes', function (resTipos) {
                    if (resTipos.Status === "success") {
                        const tiposVehiculos = resTipos.data;
                        $.getJSON('/trabajadores/viajes/GetData_VehiculosViajes', function (resVehiculos) {
                            if (resVehiculos.Status === "success") {
                                const vehiculos = resVehiculos.data;

                                const vehiculoSeleccionado = vehiculos.find(v => v.id == idVehiculo);
                                const tipoSeleccionado = tiposVehiculos.find(tv => tv.id == vehiculoSeleccionado?.id_tipo_vehiculo);
                                const idServicio = tipoSeleccionado?.id_servicio;
                                const idTipo = tipoSeleccionado?.id;

                                let htmlServicios = '<option disabled value="">--SELECCIONAR--</option>';
                                servicios.forEach(s => {
                                    const selected = s.id == idServicio ? 'selected' : '';
                                    htmlServicios += `<option value="${s.id}" ${selected}>${s.nombre}</option>`;
                                });
                                $('#cbx_Servicio').html(htmlServicios);

                                const tiposFiltrados = tiposVehiculos.filter(tv => tv.id_servicio == idServicio);
                                let htmlTipos = '<option disabled value="">--SELECCIONAR--</option>';
                                tiposFiltrados.forEach(tv => {
                                    const selected = tv.id == idTipo ? 'selected' : '';
                                    htmlTipos += `<option value="${tv.id}" ${selected}>${tv.nombre}</option>`;
                                });
                                $('#cbx_TipoVehiculo').html(htmlTipos);

                                const vehiculosFiltrados = vehiculos.filter(v => v.id_tipo_vehiculo == idTipo);
                                let htmlVehiculos = '<option disabled value="">--SELECCIONAR--</option>';
                                vehiculosFiltrados.forEach(v => {
                                    const selected = v.id == idVehiculo ? 'selected' : '';
                                    htmlVehiculos += `<option value="${v.id}" ${selected}>${v.placa}</option>`;
                                });
                                $('#cbx_Vehiculo').html(htmlVehiculos);

                                $('#cbx_Servicio').on('change', function () {
                                    const idServicio = $(this).val();
                                    const tiposFiltrados = tiposVehiculos.filter(tv => tv.id_servicio == idServicio);

                                    let htmlTipos = '<option disabled selected value="">--SELECCIONAR--</option>';
                                    tiposFiltrados.forEach(tv => {
                                        htmlTipos += `<option value="${tv.id}">${tv.nombre}</option>`;
                                    });

                                    $('#cbx_TipoVehiculo').html(htmlTipos);
                                    $('#cbx_Vehiculo').html('<option disabled selected value="">--SELECCIONAR--</option>');
                                });

                                $('#cbx_TipoVehiculo').on('change', function () {
                                    const idTipo = $(this).val();
                                    const vehiculosFiltrados = vehiculos.filter(v => v.id_tipo_vehiculo == idTipo);

                                    let htmlVehiculos = '<option disabled selected value="">--SELECCIONAR--</option>';
                                    vehiculosFiltrados.forEach(v => {
                                        htmlVehiculos += `<option value="${v.id}">${v.placa}</option>`;
                                    });

                                    $('#cbx_Vehiculo').html(htmlVehiculos);
                                });

                                $('#cbx_Vehiculo').on('change', function () {
                                    $.getJSON('/trabajadores/viajes/GetData_AsientosViajes', { id: $(this).val() }, function (response) {
                                        console.log(response);
                                    });
                                });

                            } else {
                                console.error('Error al obtener vehículos:', resVehiculos.Msj);
                            }
                        });
                    } else {
                        console.error('Error al obtener tipos de vehículos:', resTipos.Msj);
                    }
                });
            } else {
                console.error('Error al obtener servicios:', resServicios.Msj);
            }
        });
    }

    $(document).ready(function () {
        fct_GetRutas();
        fct_GetPersonal();
        fct_LlenarCombos();

        $('#cbx_Chofer').select2({
            theme: 'bootstrap4',
            containerCss: {
                'background-color': '#1f2d3d',
            },
            placeholder: "Buscar...",
            language: {
                noResults: function () {
                    return "No se encontraron resultados";
                }
            },
            allowClear: true
        });

        $('#cbx_Chofer').val(0);

        $('#cbx_Tripulante').select2({
            theme: 'bootstrap4',
            containerCss: {
                'background-color': '#1f2d3d',
            },
            placeholder: "Buscar...",
            language: {
                noResults: function () {
                    return "No se encontraron resultados";
                }
            },
            allowClear: true
        });
    });
</script>
{% endblock %}