{% extends "index.html" %}

{% block title %}YATRAX - {{ tittle }}{% endblock %}

{% block content %}
<div class="card d-none" id="efec-cargando">
    <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center overlay dark">
        <i class="fas fa-3x fa-sync-alt fa-spin text-white"></i>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">{{ tittle }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Datos de la ruta</h2>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="txt_Ruta">Nombre</label>
                                    <div class="input-group">
                                        <input type="text" id="txt_Ruta" class="form-control" placeholder="Nombre"
                                            value="{{ ruta.nombre }}" oninput="this.value = this.value.toUpperCase();"
                                            {% if btnId=='btn_Aceptar' %}disabled{% endif %}>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="cbx_Estado">Estado</label>
                                    <div class="input-group">
                                        <select id="cbx_Estado" class="form-control" {% if btnId=='btn_Aceptar'
                                            %}disabled{% endif %}>
                                            <option disabled>--SELECCIONAR--</option>
                                            <option {% if ruta.estado==1 %}selected{% endif %} value="1">Vigente
                                            </option>
                                            <option {% if ruta.estado==0 %}selected{% endif %} value="0">No vigente
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="txt_Tipo">Tipo</label>
                                    <div class="input-group">
                                        <input type="text" id="txt_Tipo" class="form-control" placeholder="Tipo"
                                            readonly value="{{ ruta.tipo }}">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <table id="tbl_Escalas" class="table table-short-rows">
                                        <thead>
                                            <tr>
                                                <th class="text-center d-none">Id Sucursal</th>
                                                <th class="text-center" style="width: 100px;">N° Orden</th>
                                                <th class="text-center">Sucursal</th>
                                                <th class="text-center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-short-rows">
                                        </tbody>
                                    </table>
                                </div>
                                <div id="infoRuta" class="col-md-12 text-left">
                                    <h5>Distancia estimada: <span id="distanciaRuta">0</span> km</h5>
                                    <h5>Tiempo estimado: <span id="tiempoRuta">0</span> minutos</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2>Ubicación de la ruta en el mapa</h2>
                                </div>
                                <div class="col-md-5 d-flex align-items-center gap-3">
                                    <h5>Leyenda:&nbsp;</h5>
                                    <h5 class="text-end"><span class="badge badge-primary fs-5">SÍ PASA</span></h5>
                                    <h5 class="text-end"><span class="badge badge-dark fs-5">NO PASA</span></h5>
                                </div>
                            </div>
                            <div id="map"></div>
                        </div>
                        <div class="col-md-12 text-center mt-3">
                            <button id="btn_Volver" type="button" class="btn btn-danger">Volver al listado de
                                rutas</button>
                            <button id="{{ btnId }}" type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                    <input type="hidden" id="txt_departamento" name="departamento">
                    <input type="hidden" id="txt_provincia" name="provincia">
                    <input type="hidden" id="txt_distrito" name="distrito">
                    <input type="hidden" id="txt_country" name="country">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block styles %}
<style>
    #map {
        height: 600px;
        width: 100%;
    }

    .leaflet-control-geocoder {
        display: block !important;
        width: 100% !important;
    }

    .leaflet-control-geocoder .leaflet-control-geocoder-form {
        display: block !important;
        width: 100% !important;
        align-content: center !important;
    }

    .leaflet-control-geocoder .leaflet-control-geocoder-icon {
        display: none !important;
        /* Oculta el ícono de la lupa */
    }

    #map>div.leaflet-control-container>div.leaflet-top.leaflet-right>div {
        align-content: center;
    }

    .tooltip-ruta {
        background-color: #1d3557;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 0.9rem;
        border: 1px solid #a8dadc;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

{% endblock %}
{% block scripts %}

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Leaflet Routing Machine -->
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.min.js"></script>
<!-- OpenRouteService -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    // Lista de escalas
    let escalas = [];
    let markers = [];
    let escalasRecibidas = JSON.parse('{{ escalas | tojson }}');

    const iconoAzul = L.icon({
        iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon-2x.png',  // Icono estándar de Leaflet
        iconSize: [25, 41],  // Tamaño del icono
        iconAnchor: [12, 41],  // Punto de anclaje
        popupAnchor: [1, -34],  // Punto desde donde se abre el popup
        shadowSize: [41, 41]  // Sombra del icono
    });

    const iconoNegro = L.icon({
        iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon-2x.png',  // Usamos el mismo ícono
        iconSize: [25, 41],  // Tamaño del icono
        iconAnchor: [12, 41],  // Punto de anclaje
        popupAnchor: [1, -34],  // Punto desde donde se abre el popup
        shadowSize: [41, 41],  // Sombra del icono
        className: 'blue-marker'  // Añadimos una clase CSS para cambiar el color
    });

    // Estilo CSS para cambiar el color del marcador cuando se agrega a la ruta
    const styleAzul = document.createElement('style');
    styleAzul.innerHTML = `
    .blue-marker {
        filter: invert(25%) sepia(95%) saturate(100%) hue-rotate(190deg) brightness(90%) contrast(100%);
    }
`;
    document.head.appendChild(styleAzul);

    // Configuración del mapa
    const map = L.map('map').setView([-9.19, -75.0152], 6);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        minZoom: 6,
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    const orsAPIKey = '5b3ce3597851110001cf6248ee3267fd49824a40983b5ec79e79356f';

    let capaRutas = L.layerGroup().addTo(map);

    function borrarRutasPrevias() {
        capaRutas.clearLayers();
    }

    function dibujarRutaDesdeEscalas() {
        ShowSpinner();

        if (escalas.length < 2) {
            toastr.warning("Debe haber al menos dos sucursales para dibujar la ruta.", 'MENSAJE DE SISTEMA');
            HideSpinner();
            return;
        }

        borrarRutasPrevias();

        const coordenadas = escalas.map(escala => {
            return {
                lat: escala.latitud,
                lng: escala.longitud
            };
        });

        let totalDistancia = 0;
        let totalDuracion = 0;
        let promesas = [];

        for (let i = 0; i < coordenadas.length - 1; i++) {
            const origen = coordenadas[i];
            const destino = coordenadas[i + 1];

            const orsAPIKey = '5b3ce3597851110001cf6248ee3267fd49824a40983b5ec79e79356f';
            let promesa = axios.get('https://api.openrouteservice.org/v2/directions/driving-car', {
                headers: { 'Authorization': orsAPIKey },
                params: {
                    start: `${origen.lng},${origen.lat}`,
                    end: `${destino.lng},${destino.lat}`
                }
            }).then(response => {
                const datos = response.data;
                const ruta = datos.features[0].geometry.coordinates;
                const resumen = datos.features[0].properties.summary;

                totalDistancia += resumen.distance;
                totalDuracion += resumen.duration;

                if (ruta && ruta.length > 0) {
                    const latlngs = ruta.map(coord => [coord[1], coord[0]]);
                    const lineaRuta = L.polyline(latlngs, { color: 'blue' }).addTo(capaRutas);

                    const distanciaKm = (resumen.distance / 1000).toFixed(2);
                    const duracionMin = (resumen.duration / 60).toFixed(2);

                    lineaRuta.bindTooltip(`🚗 ${distanciaKm} km - ⏱ ${duracionMin} min`, {
                        permanent: false,
                        direction: 'center',
                        offset: [0, -10],
                        opacity: 0.8,
                        className: 'tooltip-ruta'
                    }).openTooltip();
                }
            }).catch(error => {
                console.error('Error al obtener la ruta:', error);
            });

            promesas.push(promesa);
        }

        Promise.all(promesas).then(() => {
            const km = (totalDistancia / 1000).toFixed(2);
            const min = (totalDuracion / 60).toFixed(2);
            document.getElementById('distanciaRuta').innerText = km;
            document.getElementById('tiempoRuta').innerText = min;
            HideSpinner();
        });
    }

    function cargarSucursales() {
        fetch('/trabajadores/viajes/GetData_SucursalesMapaRuta')
            .then(response => response.json())
            .then(sucursales => {
                let esVer = '{{ btnId }}' === 'btn_Aceptar';
                const mapaSucursales = new Map();
                const sucursalesAgregadas = new Set(); // 👈 Aquí guardamos los IDs agregados

                sucursales.forEach(s => mapaSucursales.set(s.id, s));

                // Si hay escalas recibidas, agregarlas al mapa en orden
                if (escalasRecibidas.length > 0) {
                    escalasRecibidas.forEach(escala => {
                        const sucursal = mapaSucursales.get(escala.idSucursal);
                        if (sucursal && sucursal.latitud && sucursal.longitud) {
                            const popupContent = `
                                <b>${sucursal.nombre}</b><br>
                                <small>${sucursal.direccion || 'Sin dirección'}</small>
                            `;

                            const marker = L.marker([sucursal.latitud, sucursal.longitud], { icon: iconoNegro })
                                .addTo(map)
                                .bindPopup(popupContent);

                            if (!esVer) {
                                marker.on('click', function () {
                                    fct_AgregarEscala(sucursal.id, sucursal.nombre, sucursal.latitud, sucursal.longitud, marker);
                                });
                            }

                            fct_AgregarEscala(sucursal.id, sucursal.nombre, sucursal.latitud, sucursal.longitud, marker);

                            // ✅ Marcamos esta sucursal como ya agregada
                            sucursalesAgregadas.add(sucursal.id);
                        }
                    });
                }

                // Mostrar solo las sucursales que no fueron agregadas ya
                sucursales.forEach(sucursal => {
                    if (
                        sucursal.latitud &&
                        sucursal.longitud &&
                        !sucursalesAgregadas.has(sucursal.id) // 👈 No mostrar duplicados
                    ) {
                        const popupContent = `
                            <b>${sucursal.nombre}</b><br>
                            <small>${sucursal.direccion || 'Sin dirección'}</small>
                        `;

                        const marker = L.marker([sucursal.latitud, sucursal.longitud], { icon: iconoNegro })
                            .addTo(map)
                            .bindPopup(popupContent);

                        if (!esVer) {
                            marker.on('click', function () {
                                fct_AgregarEscala(sucursal.id, sucursal.nombre, sucursal.latitud, sucursal.longitud, marker);
                            });
                        }
                    }
                });
            })
            .catch(error => console.error('Error al cargar sucursales:', error));
    }


    function fct_AgregarEscala(id, nombre, latitud, longitud, marker) {
        const existeSucursal = escalas.some(escala => escala.id === id);

        if (existeSucursal) {
            toastr.warning("Esta sucursal ya ha sido agregada.", 'MENSAJE DE SISTEMA');
            return;
        }

        let nroOrden = escalas.length + 1;
        escalas.push({ 'id': id, 'nombre': nombre, 'nroOrden': nroOrden, 'latitud': latitud, 'longitud': longitud });

        markers[id] = marker;
        marker.setIcon(iconoAzul);
        const item = `
        <tr>
            <td class="d-none">${id}</td>
            <td class="text-center style="width: 100px;"">${nroOrden}</td>
            <td class="text-left">${nombre}</td>
            <td class="text-center">
                <button class="btn btn-primary btn-sm {% if btnId == 'btn_Aceptar' %}disabled{% endif %}" onclick="moverEscala(${id}, 'subir') {% if btnId == 'btn_Aceptar' %}disabled{% endif %}">↑</button>
                <button class="btn btn-primary btn-sm {% if btnId == 'btn_Aceptar' %}disabled{% endif %}" onclick="moverEscala(${id}, 'bajar') {% if btnId == 'btn_Aceptar' %}disabled{% endif %}">↓</button>
                <button class="btn btn-danger btn-sm {% if btnId == 'btn_Aceptar' %}disabled{% endif %}" onclick="eliminarEscala(${id}) {% if btnId == 'btn_Aceptar' %}disabled{% endif %}">Eliminar</button>
            </td>
        </tr>
    `;

        // Insertar la fila en el tbody de la tabla
        document.querySelector('#tbl_Escalas tbody').innerHTML += item;

        // Mostrar el tipo de ruta
        fct_MostrarTipo();

        if (escalas.length >= 2) {
            dibujarRutaDesdeEscalas();
        }
    }

    // Función para eliminar una escala
    function eliminarEscala(id) {
        // Eliminar la escala del array escalas
        escalas = escalas.filter(escala => escala.id !== id);

        if (markers[id]) {
            markers[id].setIcon(iconoNegro);
            delete markers[id];
        }

        // Eliminar la fila correspondiente de la tabla
        document.querySelectorAll(`#tbl_Escalas tbody tr`).forEach(row => {
            if (row.querySelector('td.d-none').textContent == id) {
                row.remove();
            }
        });

        // Reordenar la tabla después de eliminar
        reordenarTabla(markers[id]);

        // Mostrar el tipo de ruta
        fct_MostrarTipo();

        if (escalas.length >= 2) {
            dibujarRutaDesdeEscalas();
        } else {
            document.getElementById('distanciaRuta').innerText = 0;
            document.getElementById('tiempoRuta').innerText = 0;
            borrarRutasPrevias();
        }
    }

    function moverEscala(id, direccion, marker) {
        const index = escalas.findIndex(escala => escala.id === id);

        if (index === -1) return;

        if (direccion === 'subir' && index > 0) {
            [escalas[index], escalas[index - 1]] = [escalas[index - 1], escalas[index]];
        }
        else if (direccion === 'bajar' && index < escalas.length - 1) {
            [escalas[index], escalas[index + 1]] = [escalas[index + 1], escalas[index]];
        }

        reordenarTabla(marker);

        if (escalas.length >= 2) {
            dibujarRutaDesdeEscalas();
        }
    }

    function reordenarTabla(marker) {
        escalas.forEach((escala, index) => {
            escala.nroOrden = index + 1;
        });

        const tbody = document.querySelector('#tbl_Escalas tbody');
        tbody.innerHTML = '';

        escalas.forEach(escala => {
            const item = `
            <tr data-id="${escala.id}">
                <td class="d-none">${escala.id}</td>
                <td class="text-center style="width: 100px;"">${escala.nroOrden}</td>
                <td class="text-left">${escala.nombre}</td>
                <td class="text-center">
                    <button class="btn btn-primary btn-sm" onclick="moverEscala(${escala.id}, 'subir', ${marker})">↑</button>
                    <button class="btn btn-primary btn-sm" onclick="moverEscala(${escala.id}, 'bajar', ${marker})">↓</button>
                    <button class="btn btn-danger btn-sm" onclick="eliminarEscala(${escala.id}, ${marker})">Eliminar</button>
                </td>
            </tr>
        `;
            tbody.innerHTML += item;
        });
    }

    function fct_MostrarTipo() {
        let cantidad = escalas.length;
        if (cantidad > 2) {
            $('#txt_Tipo').val('ESCALA');
        } else if (cantidad === 2) {
            $('#txt_Tipo').val('DIRECTO');
        } else {
            $('#txt_Tipo').val('');
        }
    }

    map.whenReady(cargarSucursales);

    $(document).ready(function () {
        $("#btn_Registrar").click(function () {
            let nombre = $("#txt_Ruta").val().trim();
            let distancia = $('#distanciaRuta').text();
            let tiempo = $('#tiempoRuta').text();
            let estado = $('#cbx_Estado').val();

            if (!nombre || !estado || !escalas || !distancia || !tiempo) {
                toastr.warning("Todos los campos son obligatorios", "MENSAJE DE SISTEMA");
                return;
            }

            if (escalas.length < 2) {
                toastr.warning('Debe haber al menos dos sucursales por ruta', 'MENSAJE DE SISTEMA');
            }

            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción registrará a la ruta. ¿Deseas continuar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, registrar ruta",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    let formData = new FormData();
                    formData.append("nombre", nombre);
                    formData.append("distancia", distancia);
                    formData.append("tiempo", tiempo);
                    formData.append("escalas", JSON.stringify(escalas));
                    formData.append("estado", estado);

                    $.ajax({
                        url: "/trabajadores/viajes/RegistrarRuta",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            if (response.Status === "success") {
                                if (response.Msj2 !== '' && response.Msj2 !== null) {
                                    toastr.warning(response.Msj2, 'MENSAJE DE SISTEMA');
                                    return;
                                } else {
                                    toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                                    setTimeout(() => {
                                        window.location.href = "/trabajadores/viajes/GestionarRutas";
                                    }, 500);
                                }
                            } else {
                                toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                                console.error('Error: ' + response.Msj);
                            }
                        },
                        error: function (xhr, Status, error) {
                            toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                            console.error('Error:' + error);
                        }
                    });
                }
            });
        });

        $("#btn_Editar").click(function () {
            const id = Number("{{ ruta.id }}");

            let nombre = $("#txt_Ruta").val().trim();
            let distancia = $('#distanciaRuta').text();
            let tiempo = $('#tiempoRuta').text();
            let estado = $('#cbx_Estado').val();

            if (!nombre || !estado || !escalas || !distancia || !tiempo) {
                toastr.warning("Todos los campos son obligatorios", "MENSAJE DE SISTEMA");
                return;
            }

            if (escalas.length < 2) {
                toastr.warning('Debe haber al menos dos sucursales por ruta', 'MENSAJE DE SISTEMA');
            }

            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción modificará a la ruta. ¿Deseas continuar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, editar ruta",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    let formData = new FormData();
                    formData.append("nombre", nombre);
                    formData.append("distancia", distancia);
                    formData.append("tiempo", tiempo);
                    formData.append("escalas", JSON.stringify(escalas));
                    formData.append("estado", estado);

                    $.ajax({
                        url: `/trabajadores/viajes/EditarRuta/${id}`,
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            if (response.Status === "success") {
                                if (response.Msj2 !== '' && response.Msj2 !== null) {
                                    toastr.warning(response.Msj2, 'MENSAJE DE SISTEMA');
                                    return;
                                } else {
                                    toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                                    setTimeout(() => {
                                        window.location.href = "/trabajadores/viajes/GestionarRutas";
                                    }, 500);
                                }
                            } else {
                                toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                            }
                        },
                        error: function (xhr, Status, error) {
                            toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                            console.error('Error:' + error);
                        }
                    });
                }
            });
        });

        $("#btn_Aceptar").click(function () {
            window.location.href = "/trabajadores/viajes/GestionarRutas";
        });

        $("#btn_Volver").click(function () {
            window.location.href = "/trabajadores/viajes/GestionarRutas";
        });
    });

    function ShowSpinner() {
        $('#efec-cargando').removeClass('d-none');
    }

    function HideSpinner() {
        $('#efec-cargando').addClass('d-none');
    }
</script>
{% endblock %}