{% extends "index.html" %}

{% block title %}YATRAX - {{ tittle }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">{{ tittle }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="txt_Nombre">Nombre completo</label>
                            <div class="input-group">
                                <input type="text" id="txt_Nombre" class="form-control" placeholder="Nombre completo" {%
                                    if btnId=='btn_Aceptar' %}disabled{% endif %} value="{{ personal.nombre }}">
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-12 mb-3">
                            <label for="cbx_Estado">Estado</label>
                            <div class="input-group">
                                <select id="cbx_Estado" class="form-control" {% if btnId=='btn_Aceptar' %}disabled{%
                                    endif %}>
                                    <option disabled>--SELECCIONAR--</option>
                                    <option {% if personal.estado==1 %}selected{% endif %} value="1">Vigente</option>
                                    <option {% if personal.estado==0 %}selected{% endif %} value="0">No vigente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="cbx_TipoPersonal">Tipo de personal</label>
                            <div class="input-group">
                                <select id="cbx_TipoPersonal" class="form-control" {% if btnId=='btn_Aceptar'
                                    %}disabled{% endif %}>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="file_Imagen">Imagen de perfil</label>
                            <div class="col-12 text-left">
                                <label class="btn btn-warning {% if btnId == 'btn_Aceptar' %}disabled{% endif %}"
                                    for="file_Imagen">
                                    <i class="bi bi-file-earmark-arrow-up-fill"></i> Subir archivo
                                </label>
                                <input type="file" class="d-none" id="file_Imagen" accept=".jpg, .jpeg, .png" {% if
                                    btnId=='btn_Aceptar' %}disabled{% endif %}>
                                <span id="checkIcon" class="d-none text-success ml-2">
                                    <i class="bi bi-check-circle-fill"></i> Archivo subido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="btn_Volver" type="button" class="btn btn-danger">Volver al listado de
                                personal</button>
                            <button id="{{ btnId }}" type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function fct_GetTiposPersonal() {
        $.getJSON('/trabajadores/personal/GetData_TipoPersonal', function (response) {
            if (response.Status === 'success') {
                let items = '<option disabled>--SELECCIONAR--</option>';

                $.each(response.data, function (index, item) {
                    if (item.id === Number("{{ personal.id_tipopersonal }}")) {
                        items += `<option selected value="${item.id}">${item.nombre}</option>`;
                    } else {
                        items += `<option value="${item.id}">${item.nombre}</option>`;
                    }
                });

                $('#cbx_TipoPersonal').html(items);
            } else {
                console.error('Error al obtener los tipos de personal:', response.Msj);
            }
        });
    }

    $(document).ready(function () {
        fct_GetTiposPersonal();

        $('#file_Imagen').on('change', function () {
            if (this.files.length > 0) {
                $('#checkIcon').removeClass('d-none');
                const fileType = this.files[0].type;
                const validTypes = ["image/jpeg", "image/png", "image/jpg"];

                if (!validTypes.includes(fileType)) {
                    this.value = "";
                    toastr.warning('Solo puede subir archivos que sean imágenes (JPG, PNG, JPEG)', 'MENSAJE DE SISTEMA');
                    $('#checkIcon').addClass('d-none');
                }
            } else {
                $('#checkIcon').addClass('d-none');
            }
        });

        $("#btn_Registrar").click(function () {
            let nombre = $("#txt_Nombre").val().trim();
            let estado = $('#cbx_Estado').val();
            let tipoPersonal = $('#cbx_TipoPersonal').val();
            let imagen = $("#file_Imagen")[0].files[0];

            if (!nombre || !estado || !tipoPersonal || !imagen) {
                toastr.warning("Todos los campos son obligatorios", "MENSAJE DE SISTEMA");
                return;
            }

            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción registrará al personal. ¿Deseas continuar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, registrar personal",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let formData = new FormData();
                    formData.append("nombre", nombre);
                    formData.append("estado", estado);
                    formData.append("idTipoPersonal", tipoPersonal);
                    formData.append("imagen", imagen);
                    $.ajax({
                        url: "/trabajadores/personal/RegistrarPersonal",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            if (response.Status === "success") {
                                if (response.Msj2 !== '' && response.Msj2 !== null) {
                                    toastr.warning(response.Msj2, 'MENSAJE DE SISTEMA');
                                    return;
                                } else {
                                    toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                                    setTimeout(() => {
                                        window.location.href = "/trabajadores/personal/GestionarPersonal";
                                    }, 500);
                                }
                            } else {
                                toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                                console.error('Error: ' + response.Msj);
                            }
                        },
                        error: function (xhr, Status, error) {
                            toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                            console.error('Error:' + error);
                        }
                    });
                }
            });
        });

        $("#btn_Editar").click(function () {
            const id = Number("{{ personal.id }}");

            let nombre = $("#txt_Nombre").val().trim();
            let estado = $('#cbx_Estado').val();
            let tipoPersonal = $('#cbx_TipoPersonal').val();
            let imagen = $("#file_Imagen")[0].files[0];

            if (!nombre || !estado || !tipoPersonal) {
                toastr.warning("Todos los campos son obligatorios, excepto la imagen.", "MENSAJE DE SISTEMA");
                return;
            }

            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción modificará al personal. ¿Deseas continuar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, editar personal",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let formData = new FormData();
                    formData.append("nombre", nombre);
                    formData.append("estado", estado);
                    formData.append("idTipoPersonal", tipoPersonal);

                    if (imagen) {
                        formData.append("imagen", imagen);
                    }

                    $.ajax({
                        url: `/trabajadores/personal/EditarPersonal/${id}`,
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            if (response.Status === "success") {
                                toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                                setTimeout(() => {
                                    window.location.href = "/trabajadores/personal/GestionarPersonal";
                                }, 500);
                            } else {
                                toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                            }
                        },
                        error: function (xhr, Status, error) {
                            toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                        }
                    });
                }
            });
        });

        $("#btn_Aceptar").click(function () {
            window.location.href = "/trabajadores/personal/GestionarPersonal";
        });

        $("#btn_Volver").click(function () {
            window.location.href = "/trabajadores/personal/GestionarPersonal";
        });
    });
</script>
{% endblock %}
