{% extends "index.html" %}

{% block title %}YATRAX - {{ tittle }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">{{ tittle }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-12 mb-3">
                            <label for="cbx_Personal">Personal</label>
                            <div class="input-group">
                                <select id="cbx_Personal" class="form-control">
                                    <option disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="cbx_Sancion">Sanción</label>
                            <div class="input-group">
                                <select id="cbx_Sancion" class="form-control">
                                    <option disabled selected>--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="txt_Descripcion">Motivo de la sanción</label>
                            <div class="input-group">
                                <textarea name="" id="txt_Descripcion" class="form-control"
                                    placeholder="Motivo de la sanción..." {% if btnId=='btn_Aceptar' %}disabled{% endif
                                    %} cols="32" rows="4" style="resize: none;"></textarea>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="txt_Fecha">Fecha de culminación de la sanción</label>
                            <div class="input-group">
                                <input type="date" id="txt_Fecha" class="form-control"
                                    placeholder="Fecha de culminación..." {% if btnId=='btn_Aceptar' %}disabled{% endif %}
                                    value="{{ sancion_personal.fecha_fin}}">
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="cbx_Estado">Estado</label>
                            <div class="input-group">
                                <select id="cbx_Estado" class="form-control" {% if btnId=='btn_Aceptar' %}disabled{%
                                    endif %}>
                                    <option disabled>--SELECCIONAR--</option>
                                    <option {% if sancion_personal.estado==1 %}selected{% endif %} value="1">Vigente
                                    </option>
                                    <option {% if sancion_personal.estado==0 %}selected{% endif %} value="0">No vigente
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button id="btn_Volver" type="button" class="btn btn-danger">Volver al listado de
                                sanciones</button>
                            <button id="{{ btnId }}" type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    let listaSanciones = [];

    function fct_GetPersonalSancion() {
        // Obtener Personal
        $.getJSON('/trabajadores/personal/GetData_Personal', function (resPersonal) {
            if (resPersonal && resPersonal.Status === "success") {
                let html = '<option disabled selected>--SELECCIONAR--</option>';
                resPersonal.data.forEach(p => {
                    html += `<option value="${p.id}">${p.ape_paterno} ${p.ape_materno}, ${p.nombre}</option>`;
                });
                $('#cbx_Personal').html(html);
            } else {
                toastr.error('Error al obtener el listado de personal', 'MENSAJE DE SISTEMA');
            }
        });

        // Obtener Sanciones
        $.getJSON('/trabajadores/personal/GetData_Sancion', function (resSancion) {
            if (resSancion && resSancion.Status === "success") {
                listaSanciones = resSancion.data; // ✅ Asignamos al global

                let html = '<option disabled selected>--SELECCIONAR--</option>';
                resSancion.data.forEach(s => {
                    html += `<option value="${s.ID}">${s.nombre}</option>`;
                });
                $('#cbx_Sancion').html(html);
            } else {
                toastr.error('Error al obtener el listado de sanciones', 'MENSAJE DE SISTEMA');
            }
        });
    }

    $(document).ready(function () {

        fct_GetPersonalSancion(); // Llenar combos al cargar

        // Evento que calcula fecha fin cuando cambia la sanción
        $('#cbx_Sancion').change(function () {
            const idsancion = $(this).val();
            const sancion = listaSanciones.find(s => s.ID == idsancion);

            if (sancion && sancion.duracion_sancion) {
                const hoy = new Date();
                hoy.setDate(hoy.getDate() + parseInt(sancion.duracion_sancion));
                const fechaFormateada = hoy.toISOString().split('T')[0];
                $('#txt_Fecha').val(fechaFormateada);
            } else {
                $('#txt_Fecha').val('');
            }
            console.log('Sanción seleccionada:', sancion);
            console.log('Fecha calculada:', $('#txt_Fecha').val());
        });

        $("#btn_Registrar").click(function () {
            let sancion = $('#cbx_Sancion').val();
            let personal = $('#cbx_Personal').val();
            let descripcion = $("#txt_Descripcion").val().trim();
            let duracion = $("#txt_Fecha").val().trim();
            let estado = $('#cbx_Estado').val();

            if (!sancion || !personal || !descripcion || !duracion || !estado) {
                toastr.warning("Todos los campos son obligatorios", "MENSAJE DE SISTEMA");
                return;
            }


            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción registrará la sanción al personal. ¿Deseas continuar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, registrar sanción",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let formData = new FormData();
                    formData.append("sancionid", sancion);
                    formData.append("personalid", personal);
                    formData.append("descripcion", descripcion);
                    formData.append("estado", estado);

                    $.ajax({
                        url: "/trabajadores/personal/RegistrarSancionPersonal",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            if (response.Status === "success") {
                                if (response.Msj2 !== '' && response.Msj2 !== null) {
                                    toastr.warning(response.Msj2, 'MENSAJE DE SISTEMA');
                                    return;
                                } else {
                                    toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                                    setTimeout(() => {
                                        window.location.href = "/trabajadores/personal/GestionarSancionPersonal";
                                    }, 500);
                                }
                            } else {
                                toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                                console.error('Error: ' + response.Msj);
                            }
                        },
                        error: function (xhr, Status, error) {
                            toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                            console.error('Error:' + error);
                        }
                    });
                }
            });
        });

        $("#btn_Editar").click(function () {
            const personalid = Number("{{ sancion_personal.personalid }}");
            const sancionid = Number("{{ sancion_personal.sancionid }}");

            let sancion = $('#cbx_Sancion').val();
            let personal = $('#cbx_Personal').val();
            let descripcion = $("#txt_Descripcion").val().trim();
            let duracion = $("#txt_Fecha").val().trim();
            let estado = $('#cbx_Estado').val();


            if (!sancion || !personal || !descripcion || !duracion || !estado) {
                toastr.warning("Todos los campos son obligatorios", "MENSAJE DE SISTEMA");
                return;
            }

            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción modificará la sanción. ¿Deseas continuar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, editar sanción",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let formData = new FormData();
                    formData.append("sancionid", sancion);
                    formData.append("personalid", personal);
                    formData.append("descripcion", descripcion);
                    formData.append("estado", estado);

                    $.ajax({
                        url: `/trabajadores/personal/EditarSancionPersonal/${personalid}/${sancionid}`,
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            if (response.Status === "success") {
                                if (response.Msj2 !== '' && response.Msj2 !== null) {
                                    toastr.warning(response.Msj2, 'MENSAJE DE SISTEMA');
                                    return;
                                } else {
                                    toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                                    setTimeout(() => {
                                        window.location.href = "/trabajadores/personal/GestionarSancionPersonal";
                                    }, 500);
                                }
                            } else {
                                toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                            }
                        },
                        error: function (xhr, Status, error) {
                            toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                        }
                    });
                }
            });
        });

        $("#btn_Aceptar").click(function () {
            window.location.href = "/trabajadores/personal/GestionarSancionPersonal";
        });

        $("#btn_Volver").click(function () {
            window.location.href = "/trabajadores/personal/GestionarSancionPersonal";
        });
    });
</script>
{% endblock %}