<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}YATRAX - Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/yatrax_icon.ico') }}">

    <!-- AdminLTE -->
    <link rel="stylesheet" href="/Static/css/adminlte.min.css">
    <link rel="stylesheet" href="/Static/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/Static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/Static/plugins/toastr/toastr.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/Static/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/Static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/Static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        #map {
            height: 500px;
            width: 100%;
        }

        #info {
            margin-top: 10px;
        }
    </style>

    {% block styles %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-footer-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <!-- <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="/Static/img/yatrax_icon.ico" alt="YatraxLogo" height="60" width="60">
        </div> -->
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" id="btn_sidebar"><i
                            class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{{ url_for('home.index') }}" class="nav-link">Inicio</a>
                </li>
            </ul>

            <!-- Botón de Logout -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btn-darkmode" role="button">
                        <i class="fas fa-moon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form action="{{ url_for('home.logout') }}" method="post">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- Sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="/Static/img/yatrax_icon.ico" alt="YATRAX Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">YATRAX</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        {% if session.get('usuario') and 'imagen' in session.get('usuario') %}
                        <img src="{{ session['usuario']['imagen'] }}" class="img-circle elevation-2" alt="User Image">
                        {% else %}
                        <img src="{{ '/Static/img/trabajadores/default-user.png' }}" class="img-circle elevation-2"
                            alt="User Image">
                        <!-- Imagen por defecto -->
                        {% endif %}
                    </div>
                    <div class="info">
                        {% if session.get('usuario') and 'nombre' in session.get('usuario') %}
                        <a href="#" class="d-block">{{ session['usuario']['nombre'] }}</a>
                        {% else %}
                        <a href="#" class="d-block">Usuario desconocido</a> <!-- Texto por defecto -->
                        {% endif %}
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="{{ url_for('home.index') }}"
                                class="nav-link {% if active_page == 'home' %}active{% endif %}">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    INICIO
                                </p>
                            </a>
                        </li>
                        {% if session.get('moduloSelected') %}
                        {% if session['moduloSelected'] == 1 %}
                        {% if 1 in session['menus'] %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if active_menu == 'mUsuarios' %}active{% endif %}">
                                <i class="nav-icon fas fas fa-users"></i>
                                <p>
                                    USUARIOS
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                {% if 10 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('usuario.Menu_Usuarios') }}"
                                        class="nav-link {% if active_page == 'usuarios' %}active{% endif %}">
                                        <i class="bi bi-person-fill nav-icon"></i>
                                        <p>Gestionar usuarios</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 11 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('usuario.Menu_TipoUsuario') }}"
                                        class="nav-link {% if active_page == 'tipoUsuario' %}active{% endif %}">
                                        <i class="bi bi-person-lines-fill nav-icon"></i>
                                        <p>Gestionar tipos de usuario</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if session['moduloSelected'] == 3 %}
                        {% if 3 in session['menus'] %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if active_menu == 'mVentas' %}active{% endif %}">
                                <i class="nav-icon bi bi-cart3"></i>
                                <p>VENTAS
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                {% if 30 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('ventas.Menu_TipoComprobante') }}"
                                        class="nav-link {% if active_page == 'tipoComprobante' %}active{% endif %}">
                                        <i class="bi bi-file-earmark-text"></i>
                                        <p>Gestionar tipo comprobante</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 31 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('ventas.Menu_TipoClientes') }}"
                                        class="nav-link {% if active_page == 'tipoCliente' %}active{% endif %}">
                                        <i class="bi bi-person-lines-fill nav-icon"></i>
                                        <p>Gestionar tipos de cliente</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 32 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('ventas.Menu_TipoServicio') }}"
                                        class="nav-link {% if active_page == 'tipoServicio' %}active{% endif %}">
                                        <i class="bi bi-telephone nav-icon"></i>
                                        <p>Gestionar tipos de servicio</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 33 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('ventas.Menu_TipoDocumento') }}"
                                        class="nav-link {% if active_page == 'tipoDocumento' %}active{% endif %}">
                                        <i class="bi bi-file-binary-fill"></i>
                                        <p>Gestionar tipos de documentos</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if session['moduloSelected'] == 4 %}
                        {% if 4 in session['menus'] %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if active_menu == 'mViajes' %}active{% endif %}">
                                <i class="nav-icon fas fa-bus"></i>
                                <p>VIAJES
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                {% if 40 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('viajes.Menu_Horarios') }}"
                                        class="nav-link {% if active_page == 'horarios' %}active{% endif %}">
                                        <i class="bi bi-calendar-week nav-icon"></i>
                                        <p>Gestionar horarios</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 41 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('viajes.Menu_TipoVehiculo') }}"
                                        class="nav-link {% if active_page == 'tipoVehiculo' %}active{% endif %}">
                                        <i class="bi bi-bus-front nav-icon"></i>
                                        <p>Gestionar tipo vehículo</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 42 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('viajes.Menu_Nivel') }}"
                                        class="nav-link {% if active_page == 'nivel' %}active{% endif %}">
                                        <i class="bi bi-bus-front nav-icon"></i>
                                        <p>Gestionar niveles</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 43 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('viajes.Menu_Sucursal') }}"
                                        class="nav-link {% if active_page == 'sucursal' %}active{% endif %}">
                                        <i class="bi bi-building nav-icon"></i>
                                        <p>Gestionar sucursales</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 44 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('viajes.Menu_Marcas') }}"
                                        class="nav-link {% if active_page == 'marcas' %}active{% endif %}">
                                        <i class="bi bi-building nav-icon"></i>
                                        <p>Gestionar marcas</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 45 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('viajes.Menu_Rutas') }}"
                                        class="nav-link {% if active_page == 'ruta' %}active{% endif %}">
                                        <i class="bi bi-map nav-icon"></i>
                                        <p>Gestionar rutas</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if session['moduloSelected'] == 5 %}
                        {% if 5 in session['menus'] %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if active_menu == 'mPersonal' %}active{% endif %}">
                                <i class="nav-icon bi bi-person-lines-fill"></i>
                                <p>PERSONAL
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                {% if 50 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('personal.Menu_TipoPersonal') }}"
                                        class="nav-link {% if active_page == 'tipoPersonal' %}active{% endif %}">
                                        <i class="bi bi-calendar-week nav-icon"></i>
                                        <p>Gestionar tipo personal</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if session['moduloSelected'] == 6 %}
                        {% if 6 in session['menus'] %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if active_menu == 'mAtencion' %}active{% endif %}">
                                <i class="nav-icon fas fa-comments"></i>
                                <p>ATENCIÓN AL CLIENTE
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                {% if 60 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('atencion.Menu_Atencion') }}"
                                        class="nav-link {% if active_page == 'ejemplo' %}active{% endif %}">
                                        <i class="bi bi-calendar-week nav-icon"></i>
                                        <p>Ejemplo</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if session['moduloSelected'] == 2 %}
                        {% if 2 in session['menus'] %}
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if active_menu == 'mConfiguracion' %}active{% endif %}">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>CONFIGURACIÓN</p>
                                <i class="right fas fa-angle-left"></i>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                {% if 20 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('configuracion.Menu_Permisos') }}"
                                        class="nav-link {% if active_page == 'permisos' %}active{% endif %}">
                                        <i class="bi bi-shield-check nav-icon"></i>
                                        <p>Gestionar permisos</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 21 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('configuracion.Menu_Plantillas') }}"
                                        class="nav-link {% if active_page == 'plantillas' %}active{% endif %}">
                                        <i class="bi bi-palette nav-icon"></i>
                                        <p>Gestionar plantillas</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% if 22 in session['menus'] %}
                                <li class="nav-item">
                                    <a href="{{ url_for('configuracion.Menu_MetodosPago') }}"
                                        class="nav-link {% if active_page == 'metodosPago' %}active{% endif %}">
                                        <i class="bi bi-credit-card nav-icon"></i>
                                        <p>Gestionar métodos de pago</p>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Contenido principal -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Versión</b> 1.0
            </div>
            <strong>Copyright © 2025 <a href="{{ url_for('home.index') }}">YATRAX</a>.</strong> Todos los derechos
            reservados.
        </footer>
    </div>

    <div id="dynamic-modal" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-title" class="modal-title">Default Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <div id="modal-body" class="modal-body">
                    <p>One fine body…</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- jQuery -->
    <script src="/Static/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/Static/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE JS -->
    <script src="/Static/js/adminlte.min.js"></script>

    <!-- Moment.js (para formateo de fechas) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="/Static/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/Static/plugins/toastr/toastr.min.js"></script>
    <!-- Select2 -->
    <script src="/Static/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Static/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Static/plugins/moment/moment.min.js"></script>
    <script src="/Static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Datatables -->
    <link rel="stylesheet" href="/Static/plugins/datatables-test/datatables.min.css">
    <script src="/Static/plugins/datatables-test/datatables.min.js"></script>

    <script>
        // window.addEventListener('beforeunload', function () {
        //     document.querySelector('.preloader').style.display = 'flex';
        // });

        document.addEventListener('DOMContentLoaded', function () {
            const btnDarkMode = document.getElementById('btn-darkmode');
            const icon = btnDarkMode.querySelector('i');
            const navbar = document.querySelector('.main-header.navbar');

            if (localStorage.getItem('dark-mode') === 'enabled') {
                document.body.classList.add('dark-mode');
                navbar.classList.remove('navbar-white', 'navbar-light');
                navbar.classList.add('navbar-dark');
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');

                document.querySelectorAll('.select2-container--bootstrap4 .select2-selection').forEach(el => {
                    el.style.backgroundColor = '#1f2d3d';
                    el.style.color = '#fff';
                });

                document.querySelectorAll('.select2-container--bootstrap4 .select2-selection__rendered').forEach(el => {
                    el.style.color = '#fff';
                });

                document.querySelectorAll('.select2-container--bootstrap4 .select2-selection__placeholder').forEach(el => {
                    el.style.color = '#ccc';
                });

                document.querySelectorAll('.select2-dropdown').forEach(el => {
                    el.style.backgroundColor = '#1f2d3d';
                    el.style.color = '#fff';
                });
            }

            btnDarkMode.addEventListener('click', function (e) {
                e.preventDefault();

                document.body.classList.toggle('dark-mode');

                if (document.body.classList.contains('dark-mode')) {
                    icon.classList.remove('fa-moon');
                    icon.classList.add('fa-sun');
                    navbar.classList.remove('navbar-white', 'navbar-light');
                    navbar.classList.add('navbar-dark');
                    localStorage.setItem('dark-mode', 'enabled');
                } else {
                    icon.classList.remove('fa-sun');
                    icon.classList.add('fa-moon');
                    navbar.classList.remove('navbar-dark');
                    navbar.classList.add('navbar-white', 'navbar-light');
                    localStorage.setItem('dark-mode', 'disabled');
                }
            });
        });

        function actualizarEstiloSelect2DarkMode() {
            const esModoOscuro = document.body.classList.contains('dark-mode');

            if (esModoOscuro) {
                $('.select2-container--bootstrap4 .select2-selection').css({
                    'background-color': '#1f2d3d',
                    'color': '#fff'
                });

                $('.select2-container--bootstrap4 .select2-selection__rendered').css('color', '#fff');
                $('.select2-container--bootstrap4 .select2-selection__placeholder').css('color', '#ccc');
                $('.select2-dropdown').css({
                    'background-color': '#1f2d3d',
                    'color': '#fff'
                });
            } else {
                $('.select2-container--bootstrap4 .select2-selection').css({
                    'background-color': '',
                    'color': ''
                });

                $('.select2-container--bootstrap4 .select2-selection__rendered').css('color', '');
                $('.select2-container--bootstrap4 .select2-selection__placeholder').css('color', '');
                $('.select2-dropdown').css({
                    'background-color': '',
                    'color': ''
                });
            }
        }

        const observer = new MutationObserver(actualizarEstiloSelect2DarkMode);
        observer.observe(document.body, { attributes: true, attributeFilter: ['class'] });

        function loadBigModal(url, title) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    // Cambiar el contenido del modal
                    $('#dynamic-modal .modal-dialog').attr('class', 'modal-dialog modal-xl');
                    $('#modal-body').html(html);
                    $('#modal-title').text(title);
                    $('#dynamic-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el contenido del modal:', error);
                }
            });
        }

        function loadMediumModal(url, title) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    $('#dynamic-modal .modal-dialog').attr('class', 'modal-dialog modal-lg');
                    $('#modal-body').html(html);
                    $('#modal-title').text(title);
                    $('#dynamic-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el contenido del modal:', error);
                }
            });
        }

        function loadShortModal(url, title) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    $('#dynamic-modal .modal-dialog').attr('class', 'modal-dialog modal-sm');
                    $('#modal-body').html(html);
                    $('#modal-title').text(title);
                    $('#dynamic-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el contenido del modal:', error);
                }
            });
        }

        function newexportactionServerSideOff(e, dt, button, config) {
            // Guardar el contenido original del botón
            var originalText = $(button).html();
            // Cambiar el contenido del botón para incluir un spinner
            $(button).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

            var self = this;

            // Almacenar el estado actual del DataTable
            var oldStart = dt.settings()[0]._iDisplayStart;

            // Configurar DataTable para cargar todos los datos en memoria
            dt.settings()[0]._iDisplayLength = 2147483647;

            // Redibujar el DataTable con todos los datos antes de la exportación
            dt.draw('page');

            // Llamar a la acción de exportación original
            if (button[0].className.indexOf('buttons-copy') >= 0 || button[0].className.indexOf('btn btn-primary') >= 0) {
                $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
            }
            else if (button[0].className.indexOf('btn btn-success') >= 0) {
                $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
            }
            else if (button[0].className.indexOf('buttons-csv') >= 0) {
                $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
            }
            else if (button[0].className.indexOf('buttons-pdf') >= 0 || button[0].className.indexOf('btn btn-danger') >= 0) {
                $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
            }
            else if (button[0].className.indexOf('buttons-print') >= 0 || button[0].className.indexOf('btn btn-info') >= 0) {
                $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
            }

            // Restaurar el estado original del DataTable después de la exportación
            dt.settings()[0]._iDisplayStart = oldStart;
            dt.settings()[0]._iDisplayLength = 10; // O el valor original de longitud de página que estabas usando
            dt.draw(false);

            // Restaurar el contenido original del botón después de que la exportación ha concluido
            $(button).html(originalText);
        }

        $(document).ready(function () {
            // $('body').addClass('sidebar-collapse');
            var windowHeight = $('body > div.os-padding.menu-open > div > div > div > div.content-wrapper').height() / 2;

            $(document).on('column-visibility.dt', function (e, settings) {
                var table = new $.fn.dataTable.Api(settings);
                setTimeout(function () {
                    table.columns.adjust().draw();
                }, 10); // Pequeño delay para evitar errores
            });

            $('#btn_sidebar').on('click', function () {
                setTimeout(function () {
                    // Itera sobre todas las tablas que DataTables ha inicializado
                    $($.fn.dataTable.tables(true)).each(function () {
                        $(this).DataTable().columns.adjust().draw();
                    });
                }, 300); // Ajusta este valor según la animación de tu sidebar
            });
        });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>
<style>
    .preloader {
        display: -ms-flexbox;
        display: flex;
        background-color: #f4f6f9;
        height: 100vh;
        width: 100%;
        transition: height .2s linear;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
    }

    .animation__shake {
        -webkit-animation: shake 1.5s;
        animation: shake 1.5s;
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(15deg);
        }

        50% {
            transform: rotate(0deg);
        }

        75% {
            transform: rotate(-15deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    div.dts div.dt-length,
    div.dts div.dt-paging,
    div.dts div.dataTables_paginate,
    div.dts div.dataTables_length {
        display: block !important;
    }

    div.dt-search {
        display: flex;
        align-items: center;
    }

    div.dt-search input[type="search"] {
        width: 100% !important;
        transition: width 0.3s ease;
    }

    /* Al hacer foco, se expande suavemente */
    div.dt-search input[type="search"]:focus {
        width: 100% !important;
    }

    .page-item.disabled .page-link {
        background-color: #ececec00 !important;
    }

    .table-short-rows td {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .table-short-rows th {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    /* .page-link {
        border: none ;
    } */
</style>