body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-image: url("../img/fondo_banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: rgb(88, 88, 88);
  width: 100vw;
  height: 85vh;
  color: var(--blanco);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20vw;
}

.navbar-custom {
    height: 80px; /* o lo que tú prefieras */
}

.dropdown .btn.dropdown-toggle {
  background: none !important;   /* quita el fondo */
  border: none !important;       /* quita el borde */
  box-shadow: none !important;   /* quita sombra si la hubiera */
  color: inherit;                /* para que tome el color del texto padre */
  padding-right: 0.5rem;         /* ajusta padding derecho para que no quede muy pegado */
}

/* Quitar la flecha */
.dropdown .btn.dropdown-toggle::after {
  display: none;
}


.navbar-brand.text-white {
  position: relative; /* para usar ::after */
  color: white;       /* color base */
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-brand.text-white:hover {
  color: #ffff; /* blanco, o cambia a otro color si quieres */
}

/* Línea debajo con espacio entre texto y línea */
.navbar-brand.text-white:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;           /* espacio entre texto y línea */
  height: 2px;            /* grosor de la línea */
  background-color: #ffff; /* color de la línea */
  border-radius: 2px;     /* borde redondeado opcional */
}

