{% extends "index.html" %}

{% block title %}YATRAX - Gestión de pasajes{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestionar pasajes</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}