{% extends "index.html" %}

{% block title %}YATRAX - Gestión de transacciones de pasajes{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestionar transacciones de pasajes</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <table id="tbl_TransaccionesPasajes" class="table table-bordered table-short-rows">
                    <thead class="bg-gray">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">NUM. COMPROBANTE</th>
                            <th class="text-center">CLIENTE</th>
                            <th class="text-center">ORIGEN</th>
                            <th class="text-center">DESTINO</th>
                            <th class="text-center">FECHA</th>
                            <th class="text-center">ESTADO</th>
                            <th class="text-center">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white table-short-rows">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}