{% extends "index.html" %}

{% block title %}YATRAX - Reporte de ventas{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h1>Reporte de ventas</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/theme/dark.min.js"></script>
<script>
</script>
{% endblock %}