{% extends "index.html" %}

{% block content %}
<div class="container-fluid p-4">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h1>Bienvenido al sistema, selecciona un módulo:</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row m-5">
            {% if session['menus'] and 1 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 1 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="1">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-users fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/usuarios.png" alt="USUARIOS" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">USUARIOS</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['menus'] and 5 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 5 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="5">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-user-circle fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/personal.png" alt="PERSONAL" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">PERSONAL</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['menus'] and 4 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 4 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="4">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-bus-alt fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/viajes.png" alt="VIAJES" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">VIAJES</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['menus'] and 7 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 7 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="7">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-percentage fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/promociones.png" alt="PROMOCIONES" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">PROMOCIONES</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['menus'] and 3 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 3 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="3">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-shopping-cart fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/ventas.png" alt="VENTAS" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">VENTAS</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['menus'] and 6 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 6 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="6">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-headset fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/atencion2.png" alt="ATENCIÓN" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">ATENCIÓN AL CLIENTE</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['menus'] and 2 in session['menus'] %}
            <div class="col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
                <div class="small-box {% if session['moduloSelected'] == 2 %} bg-primary {% else %} bg-dark {% endif %} pt-3 w-75 modulo"
                    id="2">
                    <div class="inner text-center">
                        <!-- <i class="fas fa-cogs fa-3x mb-2"></i> -->
                        <img src="/Static/img/icons/configuracion.png" alt="CONFIGURACIÓN" class="img-fluid mb-2"
                            style="max-width: 50px; max-height: 50px;">
                        <p class="text-lg">CONFIGURACIÓN</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block styles %}
<style>
    .modulo {
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .modulo:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.modulo').on('click', function () {
            const idModulo = $(this).attr('id');
            $.ajax({
                url: '/trabajadores/home/SetModulo',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    modulo: idModulo
                }),
                success: function (response) {
                    if (response.Status === 'success') {
                        toastr.success(response.Msj, 'MENSAJE DE SISTEMA');
                        console.log(idModulo);
                        console.log(typeof idModulo);  // debería decir "number"

                        switch (Number(idModulo)) {
                            case 1:
                                console.log(idModulo + ' hola');
                                window.location.href = '/trabajadores/home/inicioUsuarios';
                                break;
                            case 2:
                                console.log(idModulo);
                                window.location.href = '/trabajadores/home/inicioUsuarios';
                                break;
                            case 3:
                                console.log(idModulo);
                                window.location.href = '/trabajadores/home/inicioUsuarios';
                                break;
                            case 4:
                                console.log(idModulo);

                                window.location.href = '/trabajadores/home/inicioUsuarios';
                                break;
                            case 5:
                                console.log(idModulo);

                                window.location.href = '/trabajadores/home/inicioUsuarios';
                                break;
                            case 6:
                                console.log(idModulo);
                                window.location.href = '/trabajadores/home/inicioUsuarios';
                                break;
                            default:
                                console.error('ID de módulo no reconocido:', idModulo);
                                break;
                        }
                        // window.location.reload();
                    } else {
                        toastr.error(response.Msj, 'MENSAJE DE SISTEMA');
                    }
                },
                error: function (xhr, Status, error) {
                    toastr.error('Error en el servidor', 'MENSAJE DE SISTEMA');
                    console.error('Error en el servidor: ' + error);
                }
            });
        });
    });
</script>
{% endblock %}