{% extends "index.html" %}

{% block content %}
<div class="container-fluid p-4">
    <h1>Bienvenido al Dashboard</h1>
    <p>Esta es una plantilla optimizada con más plugins.</p>
    <button id="testButton" class="btn btn-primary">Haz clic aquí</button>
    <div class="form-group">
        <label>Fecha y Hora:</label>
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input"
                data-target="#datetimepicker1" />
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}