<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YATRAX - Cambiar contraseña</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/yatrax_icon.ico') }}">

    <!-- AdminLTE -->
    <link rel="stylesheet" href="/Static/css/adminlte.min.css">
    <link rel="stylesheet" href="/Static/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/Static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/Static/plugins/toastr/toastr.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/Static/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/Static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/Static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
</head>

<body class="hold-transition login-page" style="background-image: url('/Static/img/WallpaperLogin.jpeg'); background-size: cover;">
    <div class="login-box">
        <div class="login-logo">
            <b>Cambiar contraseña</b>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingrese una nueva clave</p>
                <div class="mb-1">
                    <div class="input-group mb-3">
                        <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Nueva contraseña" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="repeat_password" id="repeat_password" class="form-control" placeholder="Repetir nueva contraseña" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-block" id="btn_CambiarContrasenia">Cambiar contraseña</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- jQuery -->
<script src="/Static/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<!-- AdminLTE JS -->
<script src="/Static/js/adminlte.min.js"></script>

<!-- Moment.js (para formateo de fechas) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<!-- SweetAlert2 -->
<script src="/Static/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/Static/plugins/toastr/toastr.min.js"></script>
<!-- Select2 -->
<script src="/Static/plugins/select2/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="/Static/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/Static/plugins/moment/moment.min.js"></script>
<script src="/Static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btn_CambiarContrasenia').on('click', function () {
            const newPassword = $('#new_password').val().trim();
            const repeatPassword = $('#repeat_password').val().trim();

            if (newPassword !== repeatPassword) {
                toastr.warning('Debe ingresar correctamente ambos campos', 'MENSAJE DE SISTEMA');
                return;
            }

            $.ajax({
                url: '/trabajadores/home/nuevaContrasena',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ clave: newPassword }),
                success: function (response) {
                    if (response.Status === 'success') {
                        toastr.success(response.Msj, 'MENSAJE DE SISTEMA');
                        setTimeout(() => {
                            window.location.href = '/trabajadores/home/login'; // Redirige a la página de inicio
                        }, 500);
                    } else {
                        toastr.error(response.Msj, 'MENSAJE DE SISTEMA');
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('Error en el servidor', 'MENSAJE DE SISTEMA');
                    console.error('Error en el servidor:', error);
                }
            });
        });
    });
</script>