  <!-- Modal del Login -->
  <div class="modal-overlay" id="loginModal">
    <div class="modal">
      <div class="container">
        <div class="left">
          <img src="{{ url_for('Static', filename='img/login_imagen.png') }}" alt="Autobús y persona" class="illustration" />
        </div>
        <div class="right">
          <h2>Inicio de Sesión</h2>
          <form>
            <div class="input-group">
              <input type="email" placeholder="Correo Electrónico" required />
            </div>
            <div class="input-group">
              <input type="password" placeholder="Contraseña" required />
            </div>
            <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
            <button type="submit" class="login-btn">Iniciar Sesión</button>
          </form>
          <div class="social-login">
            <p>o inicia sesión con</p>
            <div class="icons">
              <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google" />
              <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="Outlook" />
              <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" />
              <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->