{% extends "maestra.html" %}
{% block titulo %}Yatrax - Sobre Nosotros{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{{url_for('static',filename='css/sobreNosotros.css')}}">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/font-size/font-size.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/margin/margin.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">
<link rel="icon" href="{{url_for('static',filename='img/yatrax_icon.ico')}}">
{% endblock %}
{% block contenido %}
<main>
  <section id="ctn_informativo">
    <div class="card" id="mision">
        <h2>Misión</h2>
        <p>Brindar servicios de transporte terrestre de pasajeros y envío de encomiendas interdepartamentales en el Perú, asegurando la máxima seguridad, puntualidad y calidad en cada trayecto y entrega, fortaleciendo la conexión entre regiones y contribuyendo al desarrollo social y económico del país.</p>
    </div>
    <div class="card" id="vision">
        <h2>Visión</h2>
        <p>Ser la empresa líder en transporte y logística terrestre interdepartamental en los distritos peruanos, reconocida por su compromiso con la excelencia operativa, la innovación tecnológica y la satisfacción plena de nuestros clientes, contribuyendo al progreso regional y nacional.</p>
    </div>
    <div class="card" id="servicios">
      <h2>Servicios</h2>
      <ul>
          <li>Transporte terrestre de pasajeros entre diferentes departamentos del Perú, con rutas que conectan las principales ciudades y provincias.</li>
          <li>Envío seguro y eficiente de encomiendas interdepartamentales, asegurando entregas rápidas y confiables.</li>
          <li>Flota moderna equipada con tecnología GPS para monitoreo en tiempo real y control de seguridad.</li>
          <li>Atención personalizada y soporte continuo para optimizar la experiencia del usuario.</li>
      </ul>
    </div>
  </section>
  <section id="contactanos">
    <h2>Contáctanos</h2>
    <p>En Yatrax, estamos comprometidos a ofrecerte el mejor servicio de transporte terrestre. Si tienes alguna pregunta, necesitas cotizar un servicio o deseas recibir asesoría personalizada, no dudes en ponerte en contacto con nosotros al número telefonico +51 915 854 123</p>
  </section>
  <h2 id="encabezado_fundadores">Fundadores ➜</h2>
  <section id="fundadores" class="fundadores-scroll">
    <div>
      <img src="{{url_for('static',filename='img/sobreNosotros/christian.png')}}" alt="">
      <div>
        <h2>Anderson</h2>
        <strong><em>Product Owner en Yatrax</em></strong>
        <br>
        <p>Como Product Owner en el equipo de desarrollo de Yatrax, lidere la planificación estratégica y supervisión del ciclo completo de nuestros productos digitales. Entablando una sólida comunicación entre el cliente y el equipo de desarrollo.</p>
      </div>
    </div>
    <div>
        <img src="{{url_for('static',filename='img/sobreNosotros/edgar.png')}}" alt="">
        <div>
          <h2>Edgar</h2>
          <strong><em>Scrum Master en Yatrax</em></strong>
          <br>
          <p>Como Scrum Master en Yatrax, facilite la adopción de metodologías ágiles dentro del equipo de desarrollo, asegurando un entorno colaborativo, enfocado y productivo. Promoviendo siempre las buenas prácticas de Scrum.</p>
        </div>
    </div>
    <div>
        <img src="{{url_for('static',filename='img/sobreNosotros/christian.png')}}" alt="">
        <div>
          <h2>Luis</h2>
          <strong><em>Desarrollador Fullstack en Yatrax</em></strong>
          <br>
          <p>Como Desarrollador en el equipo de Yatrax, participe activamente en la construcción de soluciones digitales orientadas al transporte inteligente. Me encargo del desarrollo de funcionalidades robustas y eficientes.</p>
      </div>
    </div>
      <div>
        <img src="{{url_for('static',filename='img/sobreNosotros/christian.png')}}" alt="">
        <div>
          <h2>Alexis</h2>
          <strong><em>Desarrollador Fullstack en Yatrax</em></strong>
          <br>
          <p>Como Desarrollador en el equipo de Yatrax, participe activamente en la construcción de soluciones digitales orientadas al transporte inteligente. Me encargo del desarrollo de funcionalidades robustas y eficientes.</p>
        </div>
      </div>
      <div>
        <img src="{{url_for('static',filename='img/sobreNosotros/christian.png')}}" alt="">
        <div>
          <h2>Christian</h2>
          <strong><em>Desarrollador Fullstack en Yatrax</em></strong>
          <br>
          <p>Como Desarrollador en el equipo de Yatrax, participe activamente en la construcción de soluciones digitales orientadas al transporte inteligente. Me encargo del desarrollo de funcionalidades robustas y eficientes.</p>
        </div>
      </div>
      <div>
        <img src="{{url_for('static',filename='img/sobreNosotros/christian.png')}}" alt="">
        <div>
          <h2>Louis</h2>
          <strong><em>Ingeniero de calidad en Yatrax</em></strong>
          <br>
          <p>Como Ingeniero de Calidad en Yatrax me encargue de asegurar que cada entrega cumpla con los más altos estándares de confiabilidad y rendimiento.</p>
        </div>
      </div>
  </section>
  <section id="unete">
      <h2>Únete</h2>
      <p>Se parte del equipo Yatrax postula a nuestros múltiples puestos de trabajo.</p>
  </section>
</main>
{% endblock %}
{% block scripts %}
<!-- jQuery -->
<script src="/Static/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/Static/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE JS -->
<script src="/Static/js/adminlte.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
<script src="../../../Static/js/sobreNosotros.js"></script>
{% endblock %}