{% extends "index.html" %}

{% block title %}YATRAX - Editar Usuario{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">Editar Usuario</h4>
                </div>
                <div class="card-body">
                    <div id= "data-usuario" class="container-fluid" type="hidden" data-usuario='{{ usuario | tojson | safe }}'></div>  <!-- si prefieres usar toda la data en un solo objeto escondido -->
                    <input type="hidden" id="idUsuario" value="{{ usuario.id }}"> <!-- ID oculto -->
                    <div class="mb-3">
                        <label for="txt_Nombre">Nombre Completo</label>
                        <div class="input-group">
                            <input type="text" id="txt_Nombre" class="form-control" placeholder="Nombre completo"
                                value="{{ usuario.nombre }}">
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="txt_Email">Correo Electrónico</label>
                        <div class="input-group">
                            <input type="email" id="txt_Email" class="form-control" placeholder="Correo electrónico"
                                value="{{ usuario.email }}">
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cbx_TipoUsuario">Tipo de Usuario</label>
                        <div class="input-group">
                            <select id="cbx_TipoUsuario" class="form-control">
                            </select>
                            <div class="input-group-append">
                                <button id="btn_TipoUsuario" type="button" class="btn btn-info"><i
                                        class="bi bi-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="btn_Volver" type="button" class="btn btn-danger">Volver</button>
                        <button id="btn_Editar" type="button" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    const usuario = JSON.parse($('#data-usuario').attr('data-usuario'));

    function fct_GetTiposUsuarios() {
        $.getJSON('/trabajadores/usuarios/GetTiposUsuarios', function (response) {
            if (response.Status === 'success') {
                let items = '<option disabled>--SELECCIONAR--</option>';

                $.each(response.data, function (index, item) {
                    if (item.id === usuario.id_tipousuario) {
                        items += `<option selected value="${item.id}">${item.nombre}</option>`;
                    } else {
                        items += `<option value="${item.id}">${item.nombre}</option>`;
                    }
                });

                $('#cbx_TipoUsuario').html(items);
            } else {
                console.error('Error al obtener los tipos de usuario:', response.Msj);
            }
        });
    }

    $(document).ready(function () {
        fct_GetTiposUsuarios();

        $('#btn_TipoUsuario').click(function () {
            loadMediumModal('/trabajadores/usuarios/TipoUsuarioNuevo', 'Registrar Tipo Usuario');
        });

        $("#btn_Editar").click(function () {
            let nombre = $("#txt_Nombre").val().trim();
            let email = $("#txt_Email").val().trim();
            let tipoUsuario = $('#cbx_TipoUsuario').val();

            if (!nombre || !email || !tipoUsuario) {
                toastr.warning("Todos los campos son obligatorios", "MENSAJE DE SISTEMA");
                return;
            }

            let id = $('#idUsuario').val().trim();
            let datos = {
                nombre: nombre,
                email: email,
                idTipoUsuario: tipoUsuario
            };

            $.ajax({
                url: `/trabajadores/usuarios/EditarUsuario/${id}`,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(datos),
                success: function (response) {
                    if (response.Status === "success") {
                        if (response.Msj2 !== '' && response.Msj2 !== null) {
                            toastr.warning(response.Msj2, 'MENSAJE DE SISTEMA');
                            return;
                        }
                        toastr.success(response.Msj, "MENSAJE DE SISTEMA");
                    } else {
                        toastr.error(response.Msj, "MENSAJE DE SISTEMA");
                        console.error('Error: ' + response.Msj);
                    }
                },
                error: function (xhr, Status, error) {
                    toastr.error("Error en el servidor", "MENSAJE DE SISTEMA");
                    console.error('Error:' + error);
                }
            });
        });

        $("#btn_Volver").click(function () {
            window.location.href = "/trabajadores/usuarios/GestionarUsuarios";
        });
    });
</script>
{% endblock %}