{% extends "index.html" %}

{% block title %}YATRAX - Gestión de permisos{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestionar permisos de usuarios</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <table id="tbl_Usuarios" class="table table-bordered table-short-rows">
                    <thead class="bg-gray">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">ESTADO</th>
                            <th class="text-center">ACCIÓN</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white table-short-rows">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var dtUsuarios;

    $(document).ready(function () {
        // $('body').addClass('sidebar-collapse');
        var windowHeight = $('body > div.wrapper > div.content-wrapper').height() / 2;
        //CONFIGURACION POR DEFECTO DATATABLES
        $.extend($.fn.dataTable.defaults, {
            dom: "<'row align-items-center'<'col-sm-8 justify-content-start'f><'col-sm-4 c1 d-flex justify-content-end'>>" + "<'row align-items-center'<'col-sm-4'l><'col-sm-4 my-3 justify-content-start d-flex'B><'col-sm-4 d-flex justify-content-end'p>>" + "rt" + "<'row'<'col-sm-6'i><'col-sm-6 mt-1 d-flex justify-content-end'p>>",
            // dom: "<'row pb-1'<'col-sm-9'B><'col-sm-3 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-10'l><'col-sm-2'f>>" + "<'row'<'col-sm-6'i><'col-sm-6'p>>" + "rt" + "<'row'<'col-sm-6'i><'col-sm-6'p>>",
            // dom: "<'row pb-1'<'col-sm-10'B><'col-sm-2 c1 d-flex justify-content-end'>>" + "<'row'<'col-sm-11'l><'col-sm-1'f>>" + "<'row'<'col-sm-10'i><'col-sm-2'p>>" + "rt" + "<'row'<'col-sm-10'i><'col-sm-2'p>>",
            paging: true,
            select: true,
            scroller: false,
            deferRender: true,
            scrollY: windowHeight,
            scrollX: false,
            fixedHeader: true,
            ordering: true,
            destroy: true,
            responsive: true,
            autoWidth: false,
            processing: true,
            filter: true,
            orderMulti: true,
            stateSave: false,
            serverSide: false,
            language: {
                processing: "Procesando...",
                sSearch: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Sin registros encontrados.",
                infoFiltered: "(Total de _MAX_ registros filtrados)",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron registros",
                emptyTable: "No hay datos disponibles en la tabla",
                paginate: {
                    previous: "Anterior",
                    next: "Siguiente",
                    first: "Primero",
                    last: "Último",
                },
                aria: {
                    sortAscending: ": Activar para ordenar la columna de manera ascendente",
                    sortDescending: ": Activar para ordenar la columna de manera descendente"
                },
                select: {
                    rows: {
                        _: "%d filas seleccionadas",
                        0: "Haz clic en una fila para seleccionarla",
                        1: "1 fila seleccionada"
                    }
                },
                buttons: {
                    copyTitle: 'Copiado en el portapapeles',
                    copyKeys: 'Presiona <i>ctrl</i> o <i>\u2318</i> + <i>C</i> para copiar los datos de la tabla a tu portapapeles. <br><br>Para cancelar, haga clic en este mensaje o presione Esc.',
                    copySuccess: {
                        _: '%d registros copiados correctamente',
                        1: '1 registro copiado correctamente'
                    }
                }
            },
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
        });

        fct_IniciarTablaUsuarios('#tbl_Usuarios');
    });

    function fct_IniciarTablaUsuarios(IdTabla) {
        // Inicializar DataTables con botones
        dtUsuarios = $(IdTabla).DataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="bi bi-back"></i>',
                    titleAttr: 'Copiar en portapapeles',
                    className: 'btn btn-primary',
                },
                {
                    extend: 'excel',
                    text: '<i class="bi bi-file-earmark-excel"></i>',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success',
                    filename: 'Usuarios' + ' ' + moment().format('DD-MM-YYYY HH_mm'),
                    footer: true,
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'pdf',
                    text: '<i class="bi bi-file-earmark-pdf"></i>',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                    filename: 'Usuarios' + ' ' + moment().format('DD-MM-YYYY HH_mm'),
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                },
                {
                    extend: 'print',
                    text: '<i class="bi bi-printer-fill"></i>',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    exportOptions:
                    {
                        stripHtml: true,
                        columns: ':not(:last-child)'
                    },
                },
                {
                    extend: 'colvis',
                    text: '<i class="bi bi-ui-checks"></i>',
                    titleAttr: 'Seleccionar',
                    className: 'btn btn-warning',
                    columns: ':not(.noVis)',
                },
            ],
            ajax: {
                url: "/trabajadores/configuracion/GetData_TiposUsuario",
                type: "GET",
                datatype: "json",
                data: function (d) {
                },
                dataSrc: function (json) {
                    if (json.Status === "error") {
                        toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                        console.error(json.Msj);
                        return [];
                    }
                    return json.data;
                },
                error: function (xhr, error, thrown) {
                    toastr.error('Ocurrió un error inesperado al intentar listar la tabla');
                    console.error('Error en la solicitud Ajax: ' + error + xhr.Msj + thrown);
                },
            },
            columns: [
                { data: "id", name: "id" },
                { data: "nombre", name: "nombre" },
                {
                    data: "estado",
                    name: "estado",
                    render: function (data, type, row) {
                        let estado = data === 1 ? 'Vigente' : 'No vigente';
                        if (estado === "Vigente") {
                            return `<h5 class="mb-0 d-flex align-items-center justify-content-center"><span class="badge badge-success fs-5">${estado}</span></h5>`;
                        } else if (estado === "No vigente") {
                            return `<h5 class="mb-0 d-flex align-items-center justify-content-center"><span class="badge badge-danger fs-5">${estado}</span></h5>`;
                        } else {
                            return `<h5 class="mb-0 d-flex align-items-center justify-content-center"><span class="badge fs-5" style="background-color: #800080; color: white;">${estado}</span></h5>`;
                        }
                    },
                },
                {
                    data: null,
                    name: null,
                    render: function (data, type, row) {
                        let editar = '{{ "Editar permisos" in session["claims"] }}';
                        if (editar === "True") {
                            return `<button class="btn btn-xs m-1 btn-primary" onclick="fct_UsuarioEditar('${data.id}')" title="Editar permisos de usuario"><i class="bi bi-pencil-square"></i></button>`;
                        } else {
                            return ""
                        }
                    },
                    className: 'text-center',
                }
            ],
            columnDefs: [
                {
                    targets: [0],
                    className: "text-center align-middle",
                },
                {
                    targets: [1, 2, 3],
                    className: 'align-middle',
                },
                {
                    targets: [3],
                    orderable: false,
                    width: '10%',
                },
            ],
            lengthMenu: [[100, 200, 500, -1], [100, 200, 500, 'Todos']],
            initComplete: function (data, row, cell, start, end, display) {
                $('.dt-buttons button').addClass('m-1');
                $('.dt-button-collection').appendTo('.dt-buttons');
                $('.btn.btn-success').removeClass('dt-button btn-secondary buttons-excel buttons-html5');
                $('.btn.btn-danger').removeClass('dt-button btn-secondary buttons-pdf buttons-html5');
                $('.btn.btn-primary').removeClass('dt-button btn-secondary buttons-copy buttons-html5 ');
                $('.btn.btn-info').removeClass('dt-button btn-secondary buttons-print');
                $('.btn.btn-warning').removeClass('dt-button btn-secondary buttons-collection buttons-colvis');
                //Palabra exportar
                // $('.dt-buttons').parent().prepend('<h5 class="mr-2">Exportar</h5>');
                //TAMAÑO DE LOS BOTONES
                $('.btn.btn-success.m-1').addClass('btn-xs');
                $('.btn.btn-danger.m-1').addClass('btn-xs');
                $('.btn.btn-primary.m-1').addClass('btn-xs');
                $('.btn.btn-info.m-1').addClass('btn-xs');
                $('.btn.btn-warning.m-1').addClass('btn-xs');
            },
        });
    }

    function fct_UsuarioEditar(Id) {
        window.location.href = `/trabajadores/configuracion/EditarPermisos/${Id}`;
    }

    function newexportaction(e, dt, button, config) {
        // Guardar el contenido original del botón
        var originalText = $(button).html();
        // Cambiar el contenido del botón para incluir un spinner
        $(button).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');

        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0 || button[0].className.indexOf('btn btn-primary') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                }
                else if (button[0].className.indexOf('btn btn-success') >= 0 || button[0].className.indexOf('btn btn-success') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
                else if (button[0].className.indexOf('buttons-csv') >= 0) {
                    $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                }
                else if (button[0].className.indexOf('buttons-pdf') >= 0 || button[0].className.indexOf('btn btn-danger') >= 0) {
                    $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                }
                else if (button[0].className.indexOf('buttons-print') >= 0 || button[0].className.indexOf('btn btn-info') >= 0) {
                    $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                }
                // Restaurar el contenido original del botón después de que la exportación ha concluido
                $(button).html(originalText);

                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
</script>
{% endblock %}